@import "./node_modules/bootstrap/scss/bootstrap";

$primary: #cb7c7c;

::-moz-selection { /* Code for Firefox */
  color: white;
  background: $primary;
}

::selection {
  color: white;
  background: $primary;
}

.bg-primary {
  background-color: $primary !important;
}

.text-primary {
  color: $primary !important;
}

.btn-primary {
  background-color: $primary !important;
  border-color: $primary !important;
}

.active {
  background-color: $primary !important;
}

// tabs
.react-tabs {
  -webkit-tap-highlight-color: transparent;
}

.react-tabs__tab-list {
  margin: 0 0 10px;
  padding: 0;
}

.react-tabs__tab {
  display: inline-block;
  border: 1px solid $primary;
  bottom: -1px;
  position: relative;
  list-style: none;
  padding: 6px 12px;
  cursor: pointer;
  border-radius: 5px 5px 0 0;
}

.react-tabs__tab--selected {
  background: $primary;
  border-color: #aaa;
  color: white;
  outline: none;
}

.react-tabs__tab--disabled {
  color: GrayText;
  cursor: default;
}

.react-tabs__tab:focus:after {
  content: "";
  position: absolute;
  height: 5px;
  left: -4px;
  right: -4px;
  bottom: -5px;
  background: #fff;
}

.react-tabs__tab-panel {
  display: none;
}

.react-tabs__tab-panel--selected {
  display: block;
}

.mt--10 {
  margin-top: 10px;
}

/*Zoom In*/
.store-offer img {
	-webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
  border: 1px solid gray;
}
.store-offer img:hover {
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
}

.light-green {
  color: #27d844;
}

.custom-btn {
  display: inline-block;
  padding: 10px 40px;
  background-color: white !important;
  border: 2px solid $primary !important;
  border-radius: 25px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  transition: background-color 0.3s, transform 0.3s;
}

.custom-btn:hover {
  background-color: $primary !important;
  color: white !important;
  border: 2px solid white !important;
}

.custom-btn:focus-visible{
  border: none !important;
}

.remove-outline {
  outline: none !important;
}
